/*--------------------------------------------------- OVERORDNET INDSTILLINGER -----------------------------------------------------------------*/

* {

    font-family: 'Roboto', sans-serif;

}

body,
html {
    margin: 0;
    height: 100%;

}

img {
    width: 25vw;
}


/*--------------------------------------------------- TITLER PÅ DIVERSE SIDER -----------------------------------------------------------------*/

/*
.title {

    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 4rem;
    letter-spacing: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding-top: 40px;

}
*/


.title_two {

    text-align: center;
    display: block;
    color: black;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-top: 30px;
    color: #401E19;
}



/*--------------------------------------------------- NAVIGATION -----------------------------------------------------------------*/


/*----- BURGERMENU ----*/
.mobil {
    display: flex;
    background-color: white;
    width: 100%;
    margin-bottom: 40px;


}

.mobil_nav {
    display: none;


}

.burgermenu {
    background-color: white;





}

.burgermenu h1 {
    color: pink;
    padding: 10px;
    margin-top: 5%;
    float: left;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}




.burger {
    cursor: pointer;
    background: white;
    border: none;
    padding-bottom: 3em;
    padding-right: 1em;

    padding-top: 3em;
    float: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;



}

li {
    padding-top: 20px;
    cursor: pointer;
    text-align: center;

    text-decoration: none;
    color: black;


}

a {
    text-decoration: none;
    color: black;


}

a:hover {
    color: darkgrey;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

nav {
    overflow: hidden;
    transition: 0s;
}

nav.show {
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-2px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-4px, -8px);
}

.desktop_nav {
    display: none;
}


.title_front h1 {

    display: none;

}

/*-------------- DESKTOPMENU -------------*/


@media screen and (min-width:768px) {



    .burgermenu {
        display: none;
    }

    .mobil {
        display: none;
    }

    .desktop_nav {

        display: block;
        padding-top: 20px;
        background-image: url("front/hero_doodle2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;

    }

    .title_front h1 {

        margin-top: -60px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        position: absolute;
        letter-spacing: 7px;
        left: 10%;
        top: 10%;

    }


    li {
        padding-top: 0px;

    }

    .list {

        cursor: pointer;
        text-align: center;
        font-family: heebo, sans-serif;
        text-decoration: none;
        color: black;
        font-weight: 100;
    }


    ul {
        display: flex;
        justify-content: space-around;
        /*        padding: 14px 0px;*/
    }




    .links_front a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 60px;
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
        font-weight: 100;


    }


    .links_front a:hover {

        border-bottom: 2px solid white;


    }

}

/*--------------------------------------------------- FOOTER -----------------------------------------------------------------*/


.sectionwrapper {

    display: flex;
    flex-wrap: wrap;
    background: rgba(232, 132, 131, 0.47);
    justify-content: center;
    align-content: center;
    height: 100px;
    margin-top: 30px;

}


.sectionwrapper p {

    flex-basis: 100px;
    font-family: 'Roboto regular', sans-serif;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: 0.4rem;
}



/*--------------------------------------------------- FORSIDE GALLERI -----------------------------------------------------------------*/
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* tre kolonner ved siden af hinanden */
.column {
    flex-basis: 100px;
    padding: 10px;

}

.column img {
    margin-top: 20px;

}

.column img:hover {

    opacity: 0.6;
}

@media screen and (max-width: 360px) {
    .column {
        width: 100%;
        flex-basis: 30px;
        flex-grow: 1;
        text-align: center;
    }
}



/*--------------------------------------------------- PORTFOLIO GALLERI -----------------------------------------------------------------*/
.row_port {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 30px 0px 40px;
    margin-top: 50px;
}

/* Tre kolonner der flyver ved siden af hinanden */
.column_port {
    flex-basis: 50px;
    flex-grow: 1;
    padding: 20px
}

.column_port h3 {
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;


}

.column_port img:hover {

    opacity: 0.6;
    cursor: pointer;


}

.column_port p:hover {

    font-weight: bold;
}

/* Content */
.content {
    background-color: white;
    text-align: center;

}

.content p {
    background-color: white;
    font-size: 1rem;
    font-family: 'Roboto regular', sans-serif;
    cursor: pointer;
}



/*--------------------------------------------------- FÆLLES INDSTILLINGER FOR SIDERNE -----------------------------------------------------------------*/

.banner {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.banner-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;

}


.direct_link {

    /*    margin-top: -50px;*/
    font-size: 1.2rem;
    font-family: 'Roboto Condensed';
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.84);
}

.direct_link:hover {
    opacity: 0.6;
}


h5 {

    font-size: 2.6rem;
    margin: 10px 0px 0px 0px;

}

h6 {

    font-size: 1.8rem;
    color: rgba(62, 58, 58, 0.9);
    font-weight: 3;
    margin-top: 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


.item {

    text-align: center;
    margin: auto;
    /*    flex-basis: 200px;*/
    order: 1;
    /*    flex: 1;*/
}

.text h2 {

    color: black;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    /*    text-align: left;*/

}

.about p {

    color: black;
    font-size: 1rem;
    font-family: 'Roboto regular', sans-serif;
    line-height: 25px;
    padding: 20px;
    text-align: justify;

}


.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    font-weight: 1;
    font-size: 1rem;

}

.about {
    text-align: center;

    flex-basis: 400px;
    order: 1;

}



/*--------------------------------------------------- CV -----------------------------------------------------------------*/

.around {

    padding: 30px;
}

.inside {
    margin: auto;
    text-align: left;
    padding-bottom: 20px;


}

.child-left h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;

}

.child-left p {
    text-align: left;

    font-family: 'Roboto regular', sans-serif;
    line-height: 1.6;
    font-size: 0.9rem;
}

.child-left li {


    font-family: 'Roboto regular', sans-serif;
    line-height: 1.6;
    font-size: 0.9rem;

}

.child-left h4 {
    font-family: 'Roboto regular', sans-serif;
    font-size: 1.9rem;
    letter-spacing: 0.1em;
    font-weight: 1;

}

.child_text {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

/*--------------------------------------------------- KONTAKT -----------------------------------------------------------------*/

.box_around {

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 30px;

}

.box_inside {
    text-align: center;

}

.box_inside h1 {

    font-size: 2.0rem;
    color: black;
    font-weight: 2;
    letter-spacing: 0.1em;
    font-family: 'Roboto', sans-serif;

}

.box_inside p,
.box_inside li,
.box_inside h3 {

    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    list-style: none;
    letter-spacing: 0.1em;
}


.picture_inside {
    text-align: center;
    padding-top: 20px;

}


.picture_inside img {
    height: 200px;
    width: 200px;

}

.picture_inside img:hover {
    border
}

.icons_inside {

    text-align: center;
    padding-top: 20px;


}

/*--------------------------------------------------- video i bund -----------------------------------------------------------------*/


#presvideo video {
    width: 40%;
}

#presvideo h2 {
    color: rgba(0, 0, 0, 0.83);
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 2.0rem;
}

#presvideo .column1 {
    flex-basis: 200px;
    padding-top: 2px;
}

#presvideo .column2 {
    text-align: center;
    flex-basis: 200px;
    padding: 10px 0px 20px 0px;
}

#videoer .sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
}



/*--------------------------------------------------- media show -----------------------------------------------------------------*/


@media screen and (max-width: 930px) {
    .container {

        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 469px) {
    h5 {

        font-size: 2rem;
    }


    h6 {

        font-size: 1.3rem;
    }


    .row_port {
        padding: none;
        margin-top: 0px;
    }

}

@media screen and (max-width: 600px) {
    #presvideo {

        flex-basis: 200px;
    }
}

@media screen and (min-width: 660px) {
    #presvideo {

        flex-basis: 100px;
    }
}


@media screen and (max-width: 780px) {


    .header_front {

        background-image: none;
        background-color: rgba(234, 160, 159, 0.81);
    }

    .sectionwrapper p {


        font-size: 0.9rem;

    }
}


@media only screen and (max-width: 1200px) {


    .about {

        flex-basis: 700px;
        order: 1;

    }

}
